## Messari standardised subgraphs

https://github.com/messari/subgraphs

### Bancor

Updated 06/09/2022 - Price impact needs to be grabbed from website iteration https://app.bancor.network/trade?from=0x1F573D6Fb3F13d689FF844B4cE37794d79a7FF1C&to=0xEeeeeEeeeEeEeeEeEeEeeEEEeeeeEeeeeeeeEEeE

In [1]:
import pandas as pd
import numpy as np
import time
import requests
import datetime as dt

In [2]:
endpoint = 'https://api.thegraph.com/subgraphs/name/messari/bancor-v3-ethereum'

In [3]:
#Check if subgraph is up to date
query = """{
  _meta{
    block{
      timestamp
  		hash
      number
    }
    hasIndexingErrors
    deployment
  }
}"""
request = requests.post(endpoint, json={'query':query})
data = request.json()
#Check if it is ok to run i.e. within 5 days of today
int(data['data']['_meta']['block']['timestamp'], base = 0) > (dt.datetime.today().timestamp() - 3600*24*5)

True

6-Month Average Daily Volume

In [4]:
query = """{
  financialsDailySnapshots(first: 183, orderBy: timestamp, orderDirection: desc){
    id
    protocol{
      name
    }
    dailyVolumeUSD
    dailyTotalRevenueUSD
    dailySupplySideRevenueUSD
    dailyProtocolSideRevenueUSD
    timestamp
    blockNumber
  }
}
"""

In [5]:
request = requests.post(endpoint, json={'query':query})
data = request.json()

In [6]:
df = pd.json_normalize(data['data']['financialsDailySnapshots'])

In [7]:
df['dailyVolumeUSD'].astype(float).mean()

1958380.551236422

6-Month Average TVL

In [14]:
#DefiLlama https://defillama.com/protocols/dexes 
lma = pd.read_csv("https://api.llama.fi/dataset/bancor-v3.csv")

In [15]:
lma

,Unnamed: 0,Date,Timestamp,Bancor V3,Bancor V3.1,Bancor V3.2,Bancor V3.3,Bancor V3.4,Bancor V3.5,Bancor V3.6,...,Bancor V3.396,Bancor V3.397,Bancor V3.398,Bancor V3.399,Bancor V3.400,Bancor V3.401,Bancor V3.402,Bancor V3.403,Bancor V3.404,Bancor V3.405
0,NaN,NaN,NaN,Dexes,Dexes,Dexes,Dexes,Dexes,Dexes,Dexes,...,Dexes,Dexes,Dexes,Dexes,Dexes,Dexes,Dexes,Dexes,Dexes,Dexes
1,NaN,NaN,NaN,ethereum,Total,ethereum,ethereum,ethereum,ethereum,ethereum,...,Total,Total,Total,Total,Total,Total,Total,Total,Total,Total
2,NaN,NaN,NaN,TVL,TVL,Tokens(USD),Tokens(USD),Tokens(USD),Tokens(USD),Tokens(USD),...,Tokens,Tokens,Tokens,Tokens,Tokens,Tokens,Tokens,Tokens,Tokens,Tokens
3,NaN,NaN,NaN,NaN,NaN,MATIC,MPH,TRAC,APW,RENBTC,...,TEMP,BAT,GTC,UOS,ROOK,XSUSHI,UMA,PERP,QUICK,PLR
4,NaN,19/08/2022,1.660867e+09,88926883.84418188,88926883.84418188,157531.04974165218,33580.52505427775,41170.06998133894,790.1750339400385,9306.7778128,...,370374.15898009157,799687.9381261831,14922.376403787905,77287.2771,124.7850438898198,NaN,NaN,NaN,NaN,NaN
5,NaN,20/08/2022,1.660954e+09,87218615.62218553,87218615.62218553,154771.10170969626,32855.019883352,40598.76641723102,759.94909475349,9145.52390752,...,370374.15898009157,797321.4461527406,14922.376403787905,77287.2771,124.7850438898198,NaN,NaN,NaN,NaN,NaN
6,NaN,21/08/2022,1.661040e+09,85632423.74103682,85632423.74103682,154487.1886132321,32025.871116579703,42380.42081535,788.3722508468483,9197.10781808,...,370374.15898009157,797321.4461527406,14772.936118548527,76568.7169,124.7850438898198,NaN,NaN,NaN,NaN,NaN
7,NaN,22/08/2022,1.661126e+09,88227229.48037666,88227229.48037666,158389.44200051323,32603.36325189942,42239.76417250917,820.4270374604644,9328.451724800001,...,370374.15898009157,799769.8992033177,14310.352095146436,76539.9817,124.7850438898198,5029.834202912374,201.85319625383795,280.5715323305903,NaN,NaN
8,NaN,23/08/2022,1.661213e+09,88006789.44196863,88006789.44196863,157236.13162211308,30952.5600492716,39840.347182617574,819.7319885570657,9256.49433696,...,370374.15898009157,799769.8992033177,14551.901999349077,77050.6144,124.7850438898198,5029.834202912374,201.85319625383795,280.5715323305903,NaN,NaN
9,NaN,24/08/2022,1.661299e+09,86987839.88821606,86987839.88821606,158989.42507127186,30725.19173230764,40463.309474754205,808.9543864987405,9280.7691184,...,370374.15898009157,799769.8992033177,14551.901999349077,74895.0847,124.7850438898198,5029.834202912374,201.85319625383795,280.5715323305903,0.9773108051821361,NaN
10,NaN,25/08/2022,1.661386e+09,87404169.20824432,87404169.20824432,158867.8962166161,30950.031020495437,40749.648467683044,781.1133338619787,9332.7865072,...,378660.81703281077,797018.729704668,14450.76530683147,74732.2039,124.7850438898198,5029.834202912374,201.85319625383795,280.5715323305903,0.9773108051821361,NaN
11,NaN,26/08/2022,1.661472e+09,87662491.36978671,87662491.36978671,158570.28395835508,32559.8581850304,43242.67620569353,741.9951127675738,9325.41737712,...,378660.81703281077,797018.729704668,14450.76530683147,69530.3377,124.7850438898198,5030.16937025515,201.85319625383795,280.5715323305903,0.9773108051821361,NaN
12,NaN,27/08/2022,1.661558e+09,80528993.62392843,80528993.62392843,147152.60635211694,30274.519458094506,40981.69958342188,666.7908214198408,8780.53522944,...,371595.77968968026,799758.6404708369,14739.603969300548,70646.8505,124.78149661481577,5030.16937025515,201.85319625383795,280.5715323305903,0.9773108051821361,NaN
13,NaN,28/08/2022,1.661645e+09,80574692.86405644,80574692.86405644,152942.11567803766,29226.831924857062,39729.213488741945,669.6839624802376,8681.70219072,...,371595.77968968026,800656.7582193483,14584.37362411689,71459.1475,124.78149661481577,5030.16937025515,201.85319625383795,280.5715323305903,0.9773108051821361,NaN
14,NaN,29/08/2022,1.661731e+09,78490078.67105892,78490078.67105892,145170.2812666282,29226.831924857062,39223.08852647408,648.124414307941,8540.2929192672,...,371595.77968968026,800656.7582193483,14769.688212358702,68486.6027,124.78149661481577,5030.16937025515,201.85319625383795,280.5715323305903,0.9773108051821361,NaN
15,NaN,30/08/2022,1.661818e+09,82226941.75211354,82226941.75211354,154273.32732005822,30722.568229380726,39781.76249705654,709.8838534305567,8418.31713412,...,384118.22955323395,800656.7582193483,14769.688212358702,69696.5288,124.78149661481577,5030.16937025515,201.85319625383795,280.5715323305903,0.9773108051821361,NaN
16,NaN,31/08/2022,1.661904e+09,82649888.6166996,82649888.6166996,154366.08630724004,28709.710310904058,39454.49120710311,717.3816934759695,8308.5655899307,...,378327.2368145417,799728.3761207947,14406.915133731725,69654.9398,124.78149661481577,5030.16937025515,201.85319625383795,280.5715323305903,0.9773108051821361,NaN
17,NaN,01/09/2022,1.661990e+09,82633716.58101901,82633716.58101901,155908.22040007575,29663.16932491932,39227.4558192335,696.8907829926483,8304.271632988399,...,378327.2368145417,805940.0075864748,14406.915133731725,70786.0043,136.11671758886334,5030.16937025515,201.85319625383795,280.5715323305903,0.9773108051821361,NaN
18,NaN,02/09/2022,1.662077e+09,85337061.60514566,85337061.60514566,159362.2853065243,30086.92888670388,39814.82673782869,741.0177002471696,8328.11494085,...,378327.2368145417,808185.583957845,14076.376526270147,71570.4284,136.11671758886334,5030.16937025515,201.85319625383795,280.5715323305903,0.9773108051821361,NaN
19,NaN,03/09/2022,1.662163e+09,83468887.34247604,83468887.34247604,161020.70604264102,29232.16622387044,40273.37444593322,742.7422903387273,8355.54970931,...,378327.2368145417,810932.6020681399,14467.743681215701,71909.3703,136.11671758886334,5030.16937025515,201.85319625383795,280.5715323305903,0.9773108051821361,NaN
20,NaN,04/09/2022,1.662250e+09,82907496.21371506,82907496.21371506,161466.10592344112,29860.814959867657,39604.15611641299,775.2271384613215,8257.4330010176,...,378327.2368145417,808956.1520748276,14008.722154232702,70898.0402,136.11671758886334,5030.16937025515,201.85319625383795,280.5715323305903,0.9773108051821361,30023.37830779423
21,NaN,05/09/2022,1.662336e+09,84420710.38935165,84420710.38935165,162472.22743430812,30384.688906532,38880.97262592319,793.7979763490039,8279.9253543717,...,378327.2368145417,802977.6716457942,13937.083694711246,70977.8328,136.11671758886334,5030.16937025515,201.85319625383795,280.5715323305903,0.9773108051821361,30023.37830779423
22,NaN,06/09/2022,1.662422e+09,87176239.8286936,87176239.8286936,164756.2300558703,31289.446808928293,39730.82870801505,820.9396360267209,8400.8586451,...,378327.2368145417,815341.1210766209,13937.083694711246,71896.1267,136.11671758886334,5030.16937025515,201.85319625383795,280.5715323305903,0.9773108051821361,30023.37830779423

In [16]:
lma.iloc[:,3]

0                 Dexes
1              ethereum
2                   TVL
3                   NaN
4     88926883.84418188
5     87218615.62218553
6     85632423.74103682
7     88227229.48037666
8     88006789.44196863
9     86987839.88821606
10    87404169.20824432
11    87662491.36978671
12    80528993.62392843
13    80574692.86405644
14    78490078.67105892
15    82226941.75211354
16     82649888.6166996
17    82633716.58101901
18    85337061.60514566
19    83468887.34247604
20    82907496.21371506
21    84420710.38935165
22     87176239.8286936
Name: Bancor V3, dtype: object

In [20]:
#Just eth currently can take total by changing the header
lma.iloc[4:23, 3].astype(float).mean()

84762165.79390815

Largest Pool Concentration

In [35]:
df = pd.DataFrame()
ts = 0

while True:
    sl = len(df)
    query = """
{
  liquidityPools(first:1000, orderBy: createdTimestamp, orderDirection: asc, where: {createdTimestamp_gt: """+f'"{ts}"'+"""}){
    id
    name
    totalValueLockedUSD
    cumulativeVolumeUSD
    createdTimestamp
    createdBlockNumber
  }
}
"""
    request = requests.post(endpoint, json={'query':query})
    data = request.json()

    pool = pd.json_normalize(data['data']['liquidityPools'])
    df = df.append(pool)
    df.drop_duplicates(inplace=True)
    if len(df) == sl:
      break
    ts = df['createdTimestamp'].max()

/tmp/ipykernel_85662/2291472997.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pool)

In [36]:
df

,id,name,totalValueLockedUSD,cumulativeVolumeUSD,createdTimestamp,createdBlockNumber
0,0xab05cf7c6c3a288cd36326e4f7b8600e7268e344,Bancor BNT Pool Token,20751152.84589086513876632630447645,127107315.3236173249636714474183576,1650287293,14609363
1,0x256ed1d83e3e4efdda977389a5389c3433137dda,Bancor ETH Pool Token,26047620.77009763441232574248792112,80469522.04547273446465445501734981,1650289027,14609486
2,0x06cd589760da4616a0606da1367855808196c352,Bancor DAI Pool Token,5417192.942495145520237083,16969620.160847973961336602,1650289179,14609495
3,0x516c164a879892a156920a215855c3416616c46e,Bancor LINK Pool Token,21692929.93441955394877385698994241,35156141.24591088215019660808614165,1650289263,14609502
4,0x0a8999e064ae4954dae9a7758aa4dc9995218576,Bancor AUC Pool Token,0,0,1654807590,14934606
...,...,...,...,...,...,...
144,0xb0bf2da95a49d247331b713b0a2f3161f0e35de1,Bancor SHIBGF Pool Token,9369.647662914960192645736611338527,45905.35506751094603329780708188411,1654810412,14934777
145,0x356d286a49f484b73e58d757d85fc5abc9ebf4f2,Bancor CROWN Pool Token,846912.9137856385275766488440111754,62345.14069464170269158597580007042,1655977348,15012316
146,0xe56249d86e692f6cd9aab091fc7b08edfe03b7cb,Bancor OCEAN Pool Token,30954.7357559889464714132799719157,48854.5238172169710638144194949004,1655977348,15012316
147,0xf4d96e11b531b99f1f04fbd77d39859a7689348d,Bancor USDT Pool Token,3108679.788855847547388938348128,714226.186636284819990505553051,1655977348,15012316
148,0x3b8c052c93549517a30ae010a7dee675238b692c,Bancor ACRE Pool Token,35873.23339829343694862501571878116,3227.235366505986011466997001855549,1659607106,15275230

In [37]:
df['totalValueLockedUSD'].astype(float).max()/df['totalValueLockedUSD'].astype(float).sum()

0.24603060513483882

In [38]:
df['totalValueLockedUSD'].astype(float).nlargest(10).sum()/df['totalValueLockedUSD'].astype(float).sum()

0.9143831934686533

Liquidity Pools with > $1mn TVL

In [39]:
len(df.loc[df['totalValueLockedUSD'].astype(float) > 1000000])

11

In [40]:
df.loc[df['totalValueLockedUSD'].astype(float) > 1000000] #Omnipool

,id,name,totalValueLockedUSD,cumulativeVolumeUSD,createdTimestamp,createdBlockNumber
0,0xab05cf7c6c3a288cd36326e4f7b8600e7268e344,Bancor BNT Pool Token,20751152.84589086513876632630447645,127107315.3236173249636714474183576,1650287293,14609363
1,0x256ed1d83e3e4efdda977389a5389c3433137dda,Bancor ETH Pool Token,26047620.77009763441232574248792112,80469522.04547273446465445501734981,1650289027,14609486
2,0x06cd589760da4616a0606da1367855808196c352,Bancor DAI Pool Token,5417192.942495145520237083,16969620.160847973961336602,1650289179,14609495
3,0x516c164a879892a156920a215855c3416616c46e,Bancor LINK Pool Token,21692929.93441955394877385698994241,35156141.24591088215019660808614165,1650289263,14609502
54,0x9250fd963a7c7d23a1e5ca9ade6c43cf5e846b20,Bancor ENJ Pool Token,2906383.215980290432014979366032871,683375.2079724847998237705611525983,1654808389,14934658
66,0x36fabe4caef8c190550b6f93c306a5644e7dcef6,Bancor ICHI Pool Token,5743377.326760670647768558684156384,346340.770885634605244398875289988,1654808870,14934684
124,0x056b4873dcfe68041448bfd40262aec8c3a09bb8,Bancor vBNT Pool Token,1222335.175373760614911146647769321,1211146.888329098739847836240747658,1654810086,14934755
126,0x2ce37087559cbe8022fa5d70a0c502b7ae03f290,Bancor WBTC Pool Token,7078702.23801118550708540064733335,3917209.07869639246187670746763732,1654810086,14934755
127,0x2fc8bc3ee171ed5610ba3093909421e90b47fc07,Bancor WOO Pool Token,1189827.690730910805332095343346945,1363953.808555376997292900164943188,1654810086,14934755
138,0xad7bec56506d181f994ec380b1ba34fb3fbfbad3,Bancor USDC Pool Token,2838714.656478184537928877109952,2180259.856233932850379997220324,1654810086,14934755
147,0xf4d96e11b531b99f1f04fbd77d39859a7689348d,Bancor USDT Pool Token,3108679.788855847547388938348128,714226.186636284819990505553051,1655977348,15012316

Monthly Active Users

In [26]:
query = """{
  usageMetricsDailySnapshots(first: 183, orderBy: timestamp, orderDirection: desc){
    timestamp
    blockNumber
    id
    dailyActiveUsers
    dailySwapCount
    dailyDepositCount
    dailyWithdrawCount 
  }
}
"""

In [27]:
request = requests.post(endpoint, json={'query':query})
data = request.json()

In [28]:
df = pd.json_normalize(data['data']['usageMetricsDailySnapshots'])

In [33]:
df['dailyActiveUsers'].mean()

79.15602836879432

Implied slippage/Price impact