In [2]:
import pandas as pd
import numpy as np
import time
import requests
import datetime as dt
from dateutil.relativedelta import relativedelta
import matplotlib.pyplot as plt

## Biswap

14/9/2022

6-Month Average Daily Volume

In [3]:
endpoint = "https://api.thegraph.com/subgraphs/name/biswapcom/exchange5"

In [4]:
query = """{
  pancakeDayDatas(first: 183, orderDirection: desc, orderBy: date){
    id
    date
    dailyVolumeBNB
    dailyVolumeUSD
    dailyVolumeUntracked
    totalVolumeBNB
    totalVolumeUSD
    totalVolumeUSD
    totalLiquidityUSD
    totalTransactions
  }
}
"""

In [5]:
request = requests.post(endpoint, json={'query':query})
data = request.json()

In [6]:
df = pd.DataFrame(data['data']['pancakeDayDatas'])

In [7]:
df

,id,date,dailyVolumeBNB,dailyVolumeUSD,dailyVolumeUntracked,totalVolumeBNB,totalVolumeUSD,totalLiquidityUSD,totalTransactions
0,19249,1663113600,32627.73837485662867514996026188431,9107803.269477051842673841986072102,9104976.494092630863494063916980371,0,0,248429040.8178593621272596020876596,24401451
1,19248,1663027200,88826.92722875898224790498195394053,25464914.60424082111398752722543895,25464292.16849391488619112958309538,0,0,268805766.8751076773821300814215285,24387001
2,19247,1662940800,58270.19659713907005263159157402829,17206261.25119946215261718314002593,17204396.63718996029629705187419527,0,0,281765750.4465917456876463358191696,24355903
3,19246,1662854400,36797.35201151679959078052066658827,10840501.78534572422377113953427268,10839669.89456797755399149139395775,0,0,282450322.1346927150562475701237233,24329002
4,19245,1662768000,39679.12279097216844258251869698651,11675701.45362157114609390648777129,11679037.07440277275935731304178752,0,0,284694561.232666370076234276466364,24310120
...,...,...,...,...,...,...,...,...,...
178,19071,1647734400,110507.0430336293165755307575807372,43472340.85023031855131727048786779,43470555.47454535400895493818201938,0,0,332497236.2992797471667775010817832,13599431
179,19070,1647648000,115845.8650700917512275811396670711,46409080.96227154281758638509594406,46408721.06432052399771435247931169,0,0,336553021.2191180425974288456373593,13557321
180,19069,1647561600,122088.4594084019292877210474644961,47780667.10043103340017800933942675,47781344.63119744365251943081868872,0,0,338245812.1536309037457567232184589,13516417
181,19068,1647475200,129188.8746498755652012221823225591,50049006.2159228013796281208600761,50046878.88185168488366788427347213,0,0,337733246.3130287738399582428473718,13478928
182,19067,1647388800,208590.6956036865358775599555855781,78816661.49950115632289635374852656,78816095.9255170532935972356517322,0,0,350439814.7507568223976881002742575,13439564

In [8]:
df['dailyVolumeUSD'].astype(float).mean()

88760802.62433189

6-Month Average TVL

In [9]:
df

,id,date,dailyVolumeBNB,dailyVolumeUSD,dailyVolumeUntracked,totalVolumeBNB,totalVolumeUSD,totalLiquidityUSD,totalTransactions
0,19249,1663113600,32627.73837485662867514996026188431,9107803.269477051842673841986072102,9104976.494092630863494063916980371,0,0,248429040.8178593621272596020876596,24401451
1,19248,1663027200,88826.92722875898224790498195394053,25464914.60424082111398752722543895,25464292.16849391488619112958309538,0,0,268805766.8751076773821300814215285,24387001
2,19247,1662940800,58270.19659713907005263159157402829,17206261.25119946215261718314002593,17204396.63718996029629705187419527,0,0,281765750.4465917456876463358191696,24355903
3,19246,1662854400,36797.35201151679959078052066658827,10840501.78534572422377113953427268,10839669.89456797755399149139395775,0,0,282450322.1346927150562475701237233,24329002
4,19245,1662768000,39679.12279097216844258251869698651,11675701.45362157114609390648777129,11679037.07440277275935731304178752,0,0,284694561.232666370076234276466364,24310120
...,...,...,...,...,...,...,...,...,...
178,19071,1647734400,110507.0430336293165755307575807372,43472340.85023031855131727048786779,43470555.47454535400895493818201938,0,0,332497236.2992797471667775010817832,13599431
179,19070,1647648000,115845.8650700917512275811396670711,46409080.96227154281758638509594406,46408721.06432052399771435247931169,0,0,336553021.2191180425974288456373593,13557321
180,19069,1647561600,122088.4594084019292877210474644961,47780667.10043103340017800933942675,47781344.63119744365251943081868872,0,0,338245812.1536309037457567232184589,13516417
181,19068,1647475200,129188.8746498755652012221823225591,50049006.2159228013796281208600761,50046878.88185168488366788427347213,0,0,337733246.3130287738399582428473718,13478928
182,19067,1647388800,208590.6956036865358775599555855781,78816661.49950115632289635374852656,78816095.9255170532935972356517322,0,0,350439814.7507568223976881002742575,13439564

In [10]:
tl = df['totalLiquidityUSD'].astype(float).mean()
tl

426600122.85695803

Largest pool concentration

In [11]:
#Get pancake pools

df = pd.DataFrame()
ts = 0

while True:
    sl = len(df)
    query = """{
pairs(first: 1000, orderBy:timestamp, orderDirection: asc, where: {timestamp_gt: """+f'{ts}'+""", totalTransactions_gt: 0}){
 id
  name
  token0{
    id
    name
  }
  token1{
    id
    name
  }
  token0Price
  token1Price
  volumeToken0
  volumeToken1
  reserve0
  reserve1
  reserveUSD
  reserveBNB
  totalTransactions
  timestamp
  block
}
}
"""
    request = requests.post(endpoint, json={'query':query})
    if request.ok:
      data = request.json()
      try:
        pool = pd.json_normalize(data['data']['pairs'])
        df = df.append(pool)
        df.drop_duplicates(inplace=True)
        if len(df) == sl:
          break
        ts = df['timestamp'].astype(int).max()
      except KeyError:
        continue

/tmp/ipykernel_192143/3911242152.py:39: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pool)
/tmp/ipykernel_192143/3911242152.py:39: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pool)
/tmp/ipykernel_192143/3911242152.py:39: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pool)

In [12]:
pools = df

In [12]:
pools = pd.read_csv("pancakepools.csv", index_col=0)

/tmp/ipykernel_104456/3759669292.py:1: DtypeWarning: Columns (4,9,12) have mixed types. Specify dtype option on import or set low_memory=False.
  pools = pd.read_csv("pancakepools.csv", index_col=0)

In [18]:
pools.reset_index(drop = True, inplace = True)

In [19]:
pools['reserveUSD'].astype(float).nlargest(10)

1071    4.077355e+11
1255    2.804668e+08
1       3.065147e+07
0       2.954023e+07
2       2.076340e+07
5       1.721358e+07
9       1.595051e+07
3       1.590671e+07
7       1.494278e+07
13      1.488347e+07
Name: reserveUSD, dtype: float64

In [31]:
pools.drop([1071, 1255], axis =0, inplace = True)

In [32]:
poolsf = pools.copy()

In [33]:
poolsf['reserveUSD'] =poolsf['reserveUSD'].astype(float)
poolsf.sort_values('reserveUSD', inplace=True)

In [34]:
poolsf

,id,name,token0Price,token1Price,volumeToken0,volumeToken1,reserve0,reserve1,reserveUSD,reserveBNB,totalTransactions,timestamp,block,token0.id,token0.name,token1.id,token1.name
471,0xfa7a5643246cc0a1caa7450a3f0993d8a8f35914,LPKX-LPKZ,26.33986159142202370391203661670809,0.03796527162943275298423796595669803,3927565.732001915352238048,62468.621139817056558066,2829474.267998084647761952,107421.759153037689137318,0.000000e+00,0,8,1637485712,12830075,0x15b05286eb1756434df34439ae456885462407c6,Kripton X,0xc842dadf99d61ba5cf4a98f0d380acc4f89dc0e6,Kripton Z
586,0x506f039922ddec8b0b2cd22318940516dea0fc1b,ALT-BET,1.661857968414316132847020404949003,0.6017361405163663235912395569426873,1846.208195562633275673,1420.772768697639169068,2111.216198385607444187,1270.395087012190601687,0.000000e+00,0,15,1639457133,13458680,0x2a4e4ab99413f35180af2eac1770901dc83e7cb2,Alpha Token,0xe14a5ee9c281057067459b2acd66f747cf1d4d2f,Beta Token
757,0x7d8799ea5a829a6b6290a3786bddcf4405831509,SOUL-GTTR,0.00000003472222225236304014962069457432352,28799999.975,0,0,0.4,11519999.99,0.000000e+00,0,1,1642469995,14459938,0xc3adbf524513863102df6784e1ab5652165c7912,Phantasma Stake,0xf3af5cba2b4d619dabe3919194cba9fa16ad73c8,Gutter (Wormhole)
758,0xf88822f337186acd2b84087281a93c23748e3ec3,XA9-GTTR,0.1041666667534722222945601852454668,9.599999992,0,0,250000,2399999.998,0.000000e+00,0,1,1642471078,14460299,0xe9914872699be897a71477a14049d503a24a1429,XANTA9,0xf3af5cba2b4d619dabe3919194cba9fa16ad73c8,Gutter (Wormhole)
194,0x02ff41ce6d3d10a626602e4fb1e7b09183eecc2b,PGSV-PGR1,1.085937543276506867485775607310982,0.9208632726545075171930053047893306,17.94910063,16.27772977,1093.16886093,1006.65905484,0.000000e+00,0,5,1630583818,0,0xdbc85cdfaebab4c25276b3196d7cd78b3ddcbe08,PGSV,0xe9e4eaad122f2c44562caaa41b122ccd5be96836,PGR1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9,0x46492b26639df0cda9b2769429845cb991591e0a,BSW-WBNB,932.7348632699149304630624037530417,0.001072116031445712001786724487014434,3532678914.779448560130873153,7448211.677916853911503599,26637157.695431989832329403,28558.123797420152647809,1.595051e+07,57122.12871005601415425549551747556,1644534,1621795317,0,0x965f527d9159dce6288a2219db51fc6eef120dd1,BSW,0xbb4cdb9cbd36b01bd1cbaebf2de08d9173bc095c,WBNB
5,0xa987f0b7098585c735cd943ee07544a84e923d1d,USDT-BTCB,20236.48166378733589387618227653859,0.00004941570459797239913368008029446564,2404120069.124762918311798399,62670.429046542497836835,8607835.536536956339766968,425.362258101439486678,1.721358e+07,61645.46989383027130246909344763421,688772,1621794076,0,0x55d398326f99059ff775485246999027b3197955,USDT,0x7130d2a12b9bcbfae4f2634d864a1ee1ce3ead9c,BTCB
2,0xacaac9311b0096e04dfe96b6d87dec867d3883dc,WBNB-BUSD,0.003580932708023162039287318933035381,279.2568533218948837594591319556285,14418468.621898667906124271,5734498491.172374849270485999,37179.046498963916563268,10382503.534809075951084313,2.076340e+07,74358.09488680174131959097681372019,3836414,1621793763,0,0xbb4cdb9cbd36b01bd1cbaebf2de08d9173bc095c,WBNB,0xe9e7cea3dedca5984780bafc599bd69add087d56,BUSD
0,0xda8ceb724a06819c0a5cdb4304ea0cb27f8304cf,USDT-BUSD,0.9989927456504255619020639566840086,1.001008269933850854502113670925798,5449537184.397260207681501354,5412962003.209035998976571529,14762856.523274280769513835,14777741.467644452184462822,2.954023e+07,105789.7736629275148104888944856759,1387940,1621793189,0,0x55d398326f99059ff775485246999027b3197955,USDT,0xe9e7cea3dedca5984780bafc599bd69add087d56,BUSD
1,0x8840c6252e2e86e545defb6da98b2a0e26d8c1ba,USDT-WBNB,279.2205282932094170954715020718205,0.003581398567335637348572598605501538,5840926476.81146734218029493,14579937.062855474607019095,15324190.65837118658834302,54882.034469468724923178,3.065147e+07,109748.14113642667694274487419634,3248032,1621793646,0,0x55d398326f99059ff775485246999027b3197955,USDT,0xbb4cdb9cbd36b01bd1cbaebf2de08d9173bc095c,WBNB

In [35]:
poolsf['reserveUSD'].max()/poolsf['reserveUSD'].sum()

0.12339919459443183

In [36]:
poolsf['reserveUSD'].nlargest(10).sum()/poolsf['reserveUSD'].sum()

0.7181881215078452

Pools with > 1m liquidity

In [37]:
len(poolsf.loc[poolsf['reserveUSD'] >= 1000000])

32

Daily active users

https://graphql.bitquery.io/ide/FtV7QRla1w

In [86]:
graphql = "https://graphql.bitquery.io"

In [87]:
query = """
query ($network: EthereumNetwork!, $dateFormat: String!, $from: ISO8601DateTime, $till: ISO8601DateTime, $address: String!) {
  ethereum(network: $network) {
    smartContractCalls(options: {desc: "date.date"}, date: {since: $from, till: $till}, smartContractAddress: {is: $address}) {
      date: date {
        date(format: $dateFormat)
      }
      count: count
      callers: count(uniq: senders)
      totalGas: gasValue
    }
  }
}
"""

variables = {
  "network":"bsc",
  "from":"2022-01-01",
  "till":"2022-09-06",
  "dateFormat":"%Y-%m-%d",
  "address": "0x05fF2B0DB69458A0750badebc4f9e13aDd608C7F"
}

head = {'X-API-KEY': 'BQYmzxkdVrZp1vdrHZbJfWNQSQVOcYI7'}

In [88]:
resp = requests.post(graphql,json={'query':query, 'variables':variables}, headers=head)

In [89]:
data = resp.json()

In [90]:
df = pd.json_normalize(data['data']['ethereum']['smartContractCalls'])

In [91]:
df['callers'].head(183).mean()

1258.4918032786886

Slippage

In [38]:
def uniswapv2slippage(amount0in, r1):
    slippage = amount0in/r1
    return slippage

def getTokenPrice(symbol):
    url = f"https://min-api.cryptocompare.com/data/price?fsym={symbol}&tsyms=USD"
    response = requests.get(url)
    if response.ok:
        data = response.json()
        try:
            return data['USD']
        except:
            return np.nan
    else:
        raise KeyError("Symbol not availible!")

In [39]:
cs = poolsf.tail(10).copy()

In [40]:
cs['reserve0'] = cs['reserve0'].astype(float)
cs['reserve1'] = cs['reserve1'].astype(float)

In [41]:
cs.dtypes

id                    object
name                  object
token0Price           object
token1Price           object
volumeToken0          object
volumeToken1          object
reserve0             float64
reserve1             float64
reserveUSD           float64
reserveBNB            object
totalTransactions     object
timestamp             object
block                 object
token0.id             object
token0.name           object
token1.id             object
token1.name           object
dtype: object

In [42]:
i = -1
cs.iloc[i]

id                   0x8840c6252e2e86e545defb6da98b2a0e26d8c1ba
name                                                  USDT-WBNB
token0Price                 279.2205282932094170954715020718205
token1Price              0.003581398567335637348572598605501538
volumeToken0                       5840926476.81146734218029493
volumeToken1                        14579937.062855474607019095
reserve0                                        15324190.658371
reserve1                                           54882.034469
reserveUSD                                      30651468.818458
reserveBNB                    109748.14113642667694274487419634
totalTransactions                                       3248032
timestamp                                            1621793646
block                                                         0
token0.id            0x55d398326f99059ff775485246999027b3197955
token0.name                                                USDT
token1.id            0xbb4cdb9cbd36b01bd1cbaebf2de08d9173bc095c
token1.name                                                WBNB
Name: 1, dtype: object

In [55]:
r1 = cs.iloc[i, 7]
r1

14597720.975490686

In [56]:
token_sym = cs.iloc[i,1].split('-')[0]
token_sym

'USDT'

In [57]:
getTokenPrice(token_sym)

1

In [51]:
a = 100000/getTokenPrice(token_sym)
a

100000.0

In [54]:
uniswapv2slippage(a, float(r1))

3.6700189573509686e-05

In [58]:
slip1000 = []
slip10000 = []
slip100000 = []
for i in range(len(cs)):
    r1 = cs.iloc[i, 7]
    token_sym = cs.iloc[i,1].split('-')[0]
    usd = getTokenPrice(token_sym)

    a1000 = 1000/usd
    a10000 = 10000/usd
    a100000 = 100000/usd
    
    slip1000.append(uniswapv2slippage(a1000, r1))
    slip10000.append(uniswapv2slippage(a10000, r1))
    slip100000.append(uniswapv2slippage(a100000, r1))

In [59]:
np.mean(pd.DataFrame(slip1000).dropna(axis=0))

/home/luke/.local/lib/python3.8/site-packages/numpy/core/fromnumeric.py:3472: FutureWarning: In a future version, DataFrame.mean(axis=None) will return a scalar mean over the entire DataFrame. To retain the old behavior, use 'frame.mean(axis=0)' or just 'frame.mean()'
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)

0    0.248835
dtype: float64

In [60]:
np.mean(pd.DataFrame(slip10000).dropna(axis=0))

0    2.488354
dtype: float64

In [61]:
np.mean(pd.DataFrame(slip100000).dropna(axis=0))

0    24.883545
dtype: float64

In [144]:
slip1000

[7.495460419563947e-06,
 3.4112327079445934e-07,
 3.567506265941031e-05,
 nan,
 2.0172382625326753e-05,
 0.0033373561597319613,
 0.0007655271582800034,
 4.1470948135027796e-08,
 4.810415689741146e-06,
 1.0511765584987172e-05]