## Messari standardised subgraphs

https://github.com/messari/subgraphs

### MM Finance

06/09/2022

In [2]:
import pandas as pd
import numpy as np
import time
import requests
import datetime as dt

In [3]:
endpoint = 'https://graph.cronoslabs.com/subgraphs/name/messari/mm-finance'

In [4]:
#Check if subgraph is up to date
query = """{
  _meta{
    block{
      timestamp
  		hash
      number
    }
    hasIndexingErrors
    deployment
  }
}"""
request = requests.post(endpoint, json={'query':query})
data = request.json()
#Check if it is ok to run i.e. within 5 days of today
int(data['data']['_meta']['block']['timestamp'], base = 0) > (dt.datetime.today().timestamp() - 3600*24*5)

KeyError: 'data'

6-Month Average Daily Volume

In [5]:
query = """{
  financialsDailySnapshots(first: 183, orderBy: timestamp, orderDirection: desc){
    id
    protocol{
      name
    }
    dailyVolumeUSD
    dailyTotalRevenueUSD
    dailySupplySideRevenueUSD
    dailyProtocolSideRevenueUSD
    timestamp
    blockNumber
  }
}
"""

In [6]:
request = requests.post(endpoint, json={'query':query})
data = request.json()

In [7]:
df = pd.json_normalize(data['data']['financialsDailySnapshots'])

In [9]:
df

,id,dailyVolumeUSD,dailyTotalRevenueUSD,dailySupplySideRevenueUSD,dailyProtocolSideRevenueUSD,timestamp,blockNumber,protocol.name
0,19241,3384325.099730895406559077330422872,5753.352669542522191150431461718901,3452.011601725513314690258877031342,2301.341067817008876460172584687555,1662478679,4509277,MM Finance
1,19240,2545236.002188113993350162201783088,4326.901203719793788695275743031262,2596.14072223187627321716544581874,1730.760481487917515478110297212516,1662422385,4499330,MM Finance
2,19239,3764256.540001968474575563486697511,6399.236118003346406778457927385738,3839.541670802007844067074756431494,2559.6944472013385627113831709543,1662335954,4484064,MM Finance
3,19238,2523313.687547797137044887887774448,4289.633268831255132976309409216585,2573.779961298753079785785645529961,1715.853307532502053190523763686627,1662249593,4468803,MM Finance
4,19237,3625906.661621591569348669401165248,6164.041324756705667892737981980915,3698.424794854023400735642789188603,2465.616529902682267157095192792337,1662163191,4453534,MM Finance
...,...,...,...,...,...,...,...,...
178,19063,38083644.40590664214708437078157892,64742.19549004129165004343032868273,38845.31729402477499002605819720905,25896.87819601651666001737213147272,1647129598,1875184,MM Finance
179,19062,59364875.00029447411888638832137123,100920.2875005006060021068601463306,60552.17250030036360126411608779845,40368.11500020024240084274405853306,1647043195,1860388,MM Finance
180,19061,117560386.4027221353962952013180213,199852.6568846276301737018422406479,119911.5941307765781042211053443814,79941.06275385105206948073689625664,1646956798,1845630,MM Finance
181,19060,49887345.40404525532405594388518819,84808.48718687693405089510460482043,50885.09231212616043053706276289245,33923.39487475077362035804184192931,1646870390,1830870,MM Finance
182,19059,36499704.49016498015856348353428318,62049.49763328046626955792200828146,37229.69857996827976173475320496848,24819.79905331218650782316880331265,1646783998,1816069,MM Finance

In [10]:
df['dailyVolumeUSD'].astype(float).mean()

57408943.22991544

6-Month Average TVL

In [14]:
#DefiLlama https://defillama.com/protocols/dexes 
lma = pd.read_csv("https://api.llama.fi/dataset/mm-finance-cronos.csv")

In [15]:
lma

,Unnamed: 0,Date,Timestamp,MM Finance Cronos,MM Finance Cronos.1,MM Finance Cronos.2,MM Finance Cronos.3,MM Finance Cronos.4,MM Finance Cronos.5,MM Finance Cronos.6,...,MM Finance Cronos.238,MM Finance Cronos.239,MM Finance Cronos.240,MM Finance Cronos.241,MM Finance Cronos.242,MM Finance Cronos.243,MM Finance Cronos.244,MM Finance Cronos.245,MM Finance Cronos.246,MM Finance Cronos.247
0,NaN,NaN,NaN,Dexes,Dexes,Dexes,Dexes,Dexes,Dexes,Dexes,...,Dexes,Dexes,Dexes,Dexes,Dexes,Dexes,Dexes,Dexes,Dexes,Dexes
1,NaN,NaN,NaN,cronos,cronos-staking,Total,staking,cronos,cronos,cronos,...,Total,Total,Total,Total,Total,Total,Total,Total,Total,staking
2,NaN,NaN,NaN,TVL,TVL,TVL,TVL,Tokens(USD),Tokens(USD),Tokens(USD),...,Tokens,Tokens,Tokens,Tokens,Tokens,Tokens,Tokens,Tokens,Tokens,Tokens
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,crypto-com-chain,USDT,CRP,...,DARKCRYSTL,CHIBIKI,LAB,WBTC,MUSD,USDC,TUSD,akash-network,BTCBR,MMF
4,NaN,11/12/2021,1.639181e+09,1221.8222108002014,NaN,1221.8222108002014,NaN,1221.8222108002014,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,NaN,02/09/2022,1.662077e+09,59035064.90398302,2111810.639018903,59035064.90398302,2111810.639018903,NaN,3954692.935367,4737.133964282566,...,68560.11783817247,0.000340001431038721,0.3635570988049983,102.21495363,686217.3003859872,15072946.945157,0,0.000227,37002392.21330488,61717899.91331548
260,NaN,03/09/2022,1.662163e+09,59480895.70481921,2093540.8619860294,59480895.70481921,2093540.8619860294,NaN,3950092.997569719,4737.133964282566,...,72509.91935987915,0.000340001431038721,0.3635570988049983,102.27790247,683963.5611400987,15494431.859691,0,0.000227,3703.5170400617167,61679277.6104329
261,NaN,04/09/2022,1.662250e+09,57007573.76954059,1987332.4760357398,57007573.76954059,1987332.4760357398,NaN,3929195.9176239767,4737.133964282566,...,64105.89000902311,0.000340001431038721,0.3635570988049983,102.61416648,661982.3161787079,15182597.017191,0,0.000227,3703.5170400617167,61316396.631764226
262,NaN,05/09/2022,1.662336e+09,55529311.615704715,1808617.7217136428,55529311.615704715,1808617.7217136428,NaN,4035114.5522667975,4719.29842616449,...,99102.7119378792,0.000340001431038721,0.3635570988049983,100.88687783,553373.6115797616,14822660.377835,0,0.000227,1.486517419222292,60611711.884170726
263,NaN,06/09/2022,1.662422e+09,51662969.318823434,1797802.8477233623,51662969.318823434,1797802.8477233623,NaN,3624304.0174710155,4611.602689114231,...,107089.62193329938,0.000340001431038721,0.3635570988049983,101.08482729,524947.4647122115,14499205.137349,0,0.000227,1.486517419222292,61157037.324965976

In [17]:
lma.iloc[:,5]

0                   Dexes
1                   Total
2                     TVL
3                     NaN
4      1221.8222108002014
              ...
259     59035064.90398302
260     59480895.70481921
261     57007573.76954059
262    55529311.615704715
263    51662969.318823434
Name: MM Finance Cronos.2, Length: 264, dtype: object

In [18]:
#Just eth currently can take total by changing the header
lma.iloc[-183:, 6].astype(float).mean()

9390308.28146803

Largest Pool Concentration

In [20]:
df = pd.DataFrame()
ts = 0

while True:
    sl = len(df)
    query = """
{
  liquidityPools(first:1000, orderBy: createdTimestamp, orderDirection: asc, where: {createdTimestamp_gt: """+f'"{ts}"'+"""}){
    id
    name
    totalValueLockedUSD
    cumulativeVolumeUSD
    createdTimestamp
    createdBlockNumber
  }
  }
"""
    request = requests.post(endpoint, json={'query':query})
    if request.ok:
      data = request.json()
      pool = pd.json_normalize(data['data']['liquidityPools'])
      df = df.append(pool)
      df.drop_duplicates(inplace=True)
      if len(df) == sl:
        break
      ts = df['createdTimestamp'].max()

/tmp/ipykernel_121056/3580151785.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pool)
/tmp/ipykernel_121056/3580151785.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pool)
/tmp/ipykernel_121056/3580151785.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pool)
/tmp/ipykernel_121056/3580151785.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pool)
/tmp/ipykernel_121056/3580151785.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pool)
/tmp/ipykernel_121056/3580151785.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pool)
/tmp/ipykernel_121056/3580151785.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pool)
/tmp/ipykernel_121056/3580151785.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pool)
/tmp/ipykernel_121056/3580151785.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pool)
/tmp/ipykernel_121056/3580151785.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pool)
/tmp/ipykernel_121056/3580151785.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pool)
/tmp/ipykernel_121056/3580151785.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pool)

In [22]:
df

,id,name,totalValueLockedUSD,cumulativeVolumeUSD,createdTimestamp,createdBlockNumber
0,0xba452a1c0875d33a440259b1ea4dca8f5d86d9ae,MM Finance Wrapped CRO/Mad Meerkat Finance,5191379.656815793930449278041674666,3018019744.905150042218254341489762,1638848069,446670
1,0x019d9479606fbdd4acb16488e0aae49e4684322b,MM Finance Wrapped CRO/Wrapped Ether,2714718.033181013038202390273340604,296153361.7547361433020010765387156,1638848075,446671
2,0x5383202d48c24aaa19873366168f2ed558a00ff0,MM Finance Wrapped BTC/Wrapped CRO,756278.8772150363095452923015012178,174331008.958130038325865132165201,1638848081,446672
3,0xa68466208f1a3eb21650320d2520ee8eba5ba623,MM Finance Wrapped CRO/USD Coin,8971991.773048000000000000000000002,2356671963.753448084748194506970395,1638848086,446673
4,0xeb28c926a7afc75fcc8d6671acd4c4a298b38419,MM Finance Wrapped CRO/Tether USD,2035244.551521069665766557298081834,839364214.861585693279186624983961,1638848098,446675
...,...,...,...,...,...,...
714,0x545dcc9f6be18e608893524858c5d8e877449a35,MM Finance Wrapped CRO/Baby Hop,22.85772939011721492051574743753769,0,1662260752,4470775
715,0xcf415dc3018734e141813084b081360f260337bc,MM Finance CroMaster/Wrapped CRO,0.2931031592214514635001642854332159,412.9223436167608696994212757159887,1662293569,4476578
716,0x950e27a71119f3703cc8f1fc1c57b4fca8f20a5e,MM Finance USD Coin/Mad Meerkat Optimizer,277.917217,0,1662340110,4484799
717,0x35cb220810514a2930a204e68484fe3dc6723cd8,MM Finance DEMOTEST1/DEMOTEST2,0,0,1662395742,4494626
718,0xec51bc691ae390cd0079606c79e0f0b504afb4f3,MM Finance ViesteToken-crypto.com/LUNA,0,0,1662463011,4506509

In [23]:
df['totalValueLockedUSD'].astype(float).max()/df['totalValueLockedUSD'].astype(float).sum()

0.1995243903519313

In [24]:
df['totalValueLockedUSD'].astype(float).nlargest(10).sum()/df['totalValueLockedUSD'].astype(float).sum()

0.7781339480288944

Liquidity Pools with > $1mn TVL

In [25]:
len(df.loc[df['totalValueLockedUSD'].astype(float) > 1000000])

11

Monthly Active Users

In [26]:
query = """{
  usageMetricsDailySnapshots(first: 183, orderBy: timestamp, orderDirection: desc){
    timestamp
    blockNumber
    id
    dailyActiveUsers
    dailySwapCount
    dailyDepositCount
    dailyWithdrawCount 
  }
}
"""

In [27]:
request = requests.post(endpoint, json={'query':query})
data = request.json()

In [28]:
df = pd.json_normalize(data['data']['usageMetricsDailySnapshots'])

In [29]:
df['dailyActiveUsers'].astype(float).mean()

9573.459016393443

Implied slippage

In [32]:
query = """
{
  liquidityPools(first:10, orderBy: totalValueLockedUSD, orderDirection: desc){
    id
    name
    totalValueLockedUSD
    cumulativeVolumeUSD
    createdTimestamp
    createdBlockNumber
    inputTokens{
      id
      name
      symbol
      lastPriceUSD
      decimals
    }
    inputTokenBalances
  }
}
"""
request = requests.post(endpoint, json={'query':query})
if request.ok:
    data = request.json()

In [33]:
slip1000 = []
slip10000 = []
slip100000 = []

for pool in data['data']['liquidityPools']:
    token0 = pool['inputTokens'][0]
    token0_reserveUSD = (float(pool['inputTokenBalances'][0])/10**token0['decimals'])*float(token0['lastPriceUSD'])
    slip1000.append(1000/token0_reserveUSD)
    slip10000.append(10000/token0_reserveUSD)
    slip100000.append(100000/token0_reserveUSD)

In [34]:
np.mean(slip1000)

0.0007331834067080002

In [35]:
np.mean(slip10000)

0.007331834067080002

In [36]:
np.mean(slip100000)

0.07331834067080002

In [37]:
100/200

0.5

In [38]:
(100+10)/(200-20)

0.6111111111111112

In [40]:
#Check price impact calculation is correct d0/r0