In [5]:
import pandas as pd
import numpy as np
import time
import requests
import datetime as dt

pd.set_option('display.max_columns', None)

6-Month Average TVL

In [2]:
#DefiLlama https://defillama.com/protocols/dexes 
lma = pd.read_csv("https://api.llama.fi/dataset/raydium.csv")

In [3]:
lma

,Unnamed: 0,Date,Timestamp,Raydium,Raydium.1
0,NaN,NaN,NaN,Dexes,Dexes
1,NaN,NaN,NaN,Total,solana
2,NaN,NaN,NaN,TVL,TVL
3,NaN,NaN,NaN,NaN,NaN
4,NaN,18/03/2021,1.616026e+09,148988798.24,148988798.24
...,...,...,...,...,...
553,NaN,18/09/2022,1.663459e+09,163467172.71379334,163467172.71379334
554,NaN,19/09/2022,1.663546e+09,157682526.34090123,157682526.34090123
555,NaN,20/09/2022,1.663632e+09,158659300.39171812,158659300.39171812
556,NaN,21/09/2022,1.663718e+09,158070288.1630285,158070288.1630285
557,NaN,22/09/2022,1.663805e+09,154386068.5785236,154386068.5785236

In [6]:
lma.iloc[:,3]

0                   Dexes
1                   Total
2                     TVL
3                     NaN
4            148988798.24
              ...
553    163467172.71379334
554    157682526.34090123
555    158659300.39171812
556     158070288.1630285
557     154386068.5785236
Name: Raydium, Length: 558, dtype: object

In [7]:
#Just eth currently can take total by changing the header
lma.iloc[-183:, 3].astype(float).mean()

346037147.5660537

In [8]:
url = 'https://api.raydium.io/v2/main/info'

In [9]:
response = requests.get(url)

In [12]:
totalvol = float(response.json()['totalvolume'])

In [13]:
totalvol/(dt.datetime.now() - dt.datetime(2021,2,1)).days

85408967.23971571

In [6]:
headers = {# Chrome 83 Mac
    "Connection": "keep-alive",
    "DNT": "1",
    "Upgrade-Insecure-Requests": "1",
    "User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.97 Safari/537.36",
    "Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9",
    "Sec-Fetch-Site": "none",
    "Sec-Fetch-Mode": "navigate",
    "Sec-Fetch-Dest": "document",
    "Referer": "https://www.google.com/",
    "Accept-Encoding": "gzip, deflate, br",
    "Accept-Language": "en-GB,en-US;q=0.9,en;q=0.8"}

In [7]:
#active users
url = "https://brew.hellomoon.io/api/aggregations/defi-token-by-active-user-count?timeRangeFilter=all&tokenFilter=4k3Dyjzvzp8eMZWUXbBCjEvwSkkk59S5iCNLY3QrkX6R"

In [8]:
resp = requests.get(url, headers = headers)

In [9]:
data =resp.json()

In [10]:
df = pd.DataFrame(data['data'])

In [11]:
df['y'].head(183).mean()

7359.666666666667